.container {
    display: flex;
    align-items: center;
}

.red-box {
    width: 200px;
    height: 100px;
    background-color: red;
    border: 18px solid green;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px ;

}

.yellow-box {
    width: 200px;
    height: 100px;
    background-color: yellow;
    border: 18px solid red;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 30px ;
}

.green-box {
    width: 200px;
    height: 100px;
    background-color: green;
    border: 18px solid yellow;
    align-items: center;
    display: flex;
    justify-content: center;
}

p {
    color: blue;
}

